body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #6b7dbd;
} 
h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
    text-align: center;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.homepage {
    padding: 20px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 40px auto;
    color: white
}